wandb/
results_pis_architectures/
true_data/
energy_sampling/results_pis_architectures/
energy_sampling/teacher_buffer/
energy_sampling/teacher_log_Z/
energy_sampling/wandb/
energy_sampling/true_data
README.md
toy.ipynb

AIS_histogram.png
MALA_histogram.png
plz_contourx13.pdf
plz_contourx23.pdf
plz_energy_histogram.pdf
plz_kdex13.pdf
plz_kdex23.pdf
plz_samplesx13.pdf
plz_samplesx23.pdf