wandb/
results_pis_architectures/
sample_eff_check_points/
true_data/
energy_sampling/results_pis_architectures/
energy_sampling/teacher_buffer/
energy_sampling/teacher_log_Z/
energy_sampling/wandb/
energy_sampling/true_data
README.md
energy_sampling/toy.ipynb
dummy_save/
vae/
__init__.py
energy_sampling/many_well_32/
.vscode/
energy_sampling/LJ13_mala_samples.pt
energy_sampling/LJ13_mala_rewards.pt
energy_sampling/LJ55_mala_samples.pt
energy_sampling/LJ55_mala_rewards.pt
40gmm_current_ours_energy_histogram.png
many_well_32_ours_energy_histogram.png
many_well_64_current_ours_energy_histogram.png
many_well_128_current_ours_energy_histogram.png
final_models/